<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibVLCSharp" version="0.0.1-alpha6" targetFramework="net47" />
  <package id="LibVLCSharp.Forms" version="0.0.1-alpha1" targetFramework="net47" />
  <package id="LibVLCSharp.Forms.WPF" version="0.0.1-alpha" targetFramework="net47" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.4" targetFramework="net47" />
  <package id="Xamarin.Forms" version="3.2.0.839982" targetFramework="net47" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.2.0.839982" targetFramework="net47" />
</packages>